/* Empty. Add your own CSS if you like */

#img_result_finished{
		
	height:250px ;
	width: 100%;
	display: block;
	position:relative;
  	margin-left: auto;
  	margin-right: auto;
	
	}

.ambrosia_orange {
	background-color: #FFB167;
}

.ambrosia_grey {
	background-color: #464646;
}

#searchBtn {
	height:50px ;
	width: 100%;
	display: block;
	position:relative;
  	margin-left: auto;
  	margin-right: auto;
}


#login-page {
	text-align: center;
}

/*#login-button-bar {
	position: relative;
	left: 100px;
    width: 60px;
    top: 500px;
	text-align: center;
}*/

#login-button {
	align: center;
	top: 350px;
}

#login-page {
	background-image: url("LOGIN_Finished2.jpg");
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#button_browse {
	background-image: url("MAIN_Browse_Finished.jpg");
}

#button_query {
	background-image: url("MAIN_Query_Finished.jpg");
}

#button_query, #button_browse {
	margin-top: 0px;
    margin-bottom: 0px; 
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
    height: 300px;
}

.options {
	margin-top: 7px;
}
.options .icon {
	font-size: 2em;
}

.options .ion-checkmark {
	color:lightgreen;
}

.options .ion-close {
	color: red;
}

.options a {
	margin-right: 2em;
	margin-left: 5px;
}

.nutrition span {
	margin:5px;
}
.nutrition span[name="calories"] {
	color: red;
}

.nutrition span[name="protein"] {
	color: brown;
}

.nutrition span[name="carbs"] {
	color: blue;
}

.nutrition span[name="fat"] {
	color: green;
}

.collapse {display:none}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}