/* Empty. Add your own CSS if you like */

#login-page {
	background-color: #FFB167;
}

#button_browse {
	background-image: url("MAIN_Browse_Finished.jpg");
}

#button_query {
	background-image: url("MAIN_Query_Finished.jpg");
}

#button_query, #button_browse {
	margin-top: 0px;
    margin-bottom: 0px; 
    background-size: cover;
	height: 700px;
}