<ion-view title="BROWSE">


      <ion-content class="ambrosia_grey">
      	<div class="bar bar-header item-input-inset">
  			<label class="item-input-wrapper">
    			<i class="icon ion-ios7-search placeholder-icon"></i>
   			 	<input ng-model="searchText" type="search" placeholder="Search">
  			</label>
  			<button class="button button-clear">
  		  		Cancel
  			</button>
		</div>

      
	    <div class="list">
	      <div ng-repeat="restaurant in foods | filter:searchText">
		      <div class="item item-divider item-icon-left" ng-click="section_click(restaurant.name)">
	       		<i class="icon ion-ios7-flag-outline"></i>
			      {{restaurant.name}}
	      		<span class="badge badge-positive">{{filtered.length}}</span>
		      </div>
		      
		      <div collapse="!show_section[restaurant.name]">
	   	        <div ng-click="openPopove()"ng-repeat="item in filtered = (restaurant.menu | filter:searchText)" class="item">
	   	        	<div>
		           	<b>{{item.item_name}}</b>
		           </div>
		           <div class='nutrition'> 
		           	<span name="calories">Cal: {{item.nf_calories}}</span>
		           	<span name="protein">Protein: {{item.nf_protein}}</span>
		           	<span name="carbs">Carbs: {{item.nf_total_carbohydrate}}</span>
		           	<span name="fat">Fat: {{item.nf_total_fat}}</span>
		           </div>
		        </div>
		      </div>
		  </div>
	    </div> 
	    
      </ion-content>
      

</ion-view>