<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<meta charset="utf-8">
<title>Weight/HBA1C Change With Activity</title>
<style>

@import url(./style.css?aea6f0a);

#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.month.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.month.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

</style>

<header>
  <aside>Feb 18, 2014</aside>
  <a>Ang Li</a>
</header>

<h1>Weight/HBA1C Change With Activity</h1>

<p id="chart"></p>

<aside>Mouseover the month number to move forward and backwards through time.</aside>

<p class="attribution">Source: <a href="http://www.ncbi.nlm.nih.gov/pubmed/24451083?dopt=Abstract">DUSON SLIDES Project</a>

<p>This chart demonstrates the ability to gracefully animate change over time. Actual data points only exist for 0, 3, and 6 month, and any value in between is calculated using linear interpolation. When the page first loads, the animation will go from 0 to 6 month over a period of 10 seconds. At any time, you can mouse over the month number and move left or right to adjust the time for which the circles are plotted. The horizontal axis is weight in pounds and the vertical axis is HBA1C. The size of the circle is determined based on the subject's activity level in Second Life. Finally, if you allow the mouse to stay on any of the circle, the user name for whom the circle is associated with will be displayed.

<footer>
  <aside>Feb 18, 2014</aside>
  <a>Ang Li</a>
</footer>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

// Various accessors that specify the four dimensions of data to visualize.
function x(d) { return d.Weight; }
function y(d) { return d.HBA1C; }
function radius(d) { return (+d.PosTotal)+(+d.ItemTotal); }
function color(d) { return d.UserName; }
function key(d) { return d.UserName; }

// Chart dimensions.
var margin = {top: 19.5, right: 19.5, bottom: 19.5, left: 39.5},
    width = 960 - margin.right - margin.left,
    height = 500 - margin.top - margin.bottom;

// Various scales. These domains make assumptions of data, naturally.
var xScale = d3.scale.linear().domain([100, 305]).range([0, width]),
    yScale = d3.scale.linear().domain([4, 12]).range([height, 0]),
    radiusScale = d3.scale.sqrt().domain([0, 18000]).range([0, 40]),
    colorScale = d3.scale.category10();

// The x & y axes. deleted: .ticks(12, d3.format(",d"))
var xAxis = d3.svg.axis().orient("bottom").scale(xScale),
    yAxis = d3.svg.axis().scale(yScale).orient("left");

// Create the SVG container and set the origin.
var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Add the x-axis.
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

// Add the y-axis.
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

// Add an x-axis label.
svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height - 6)
    .text("Weight of Subject (lbs)");

// Add a y-axis label.
svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", 6)
    .attr("dy", ".75em")
    .attr("transform", "rotate(-90)")
    .text("HBA1C of Subject");

// Add the year label; the value is set on transition.
var label = svg.append("text")
    .attr("class", "month label")
    .attr("text-anchor", "end")
    .attr("y", height - 24)
    .attr("x", width)
    .text("0");

var data_temp = {[Cal: 400, Fat:500, Pro:200], [Cal: 300, Fat:500, Pro:200]};

// Load the data.
d3.csv("Clinicaldata_activity_density_map_nozero.csv", function(clinicals) {

  // Add a dot per nation. Initialize the data at 1800, and set the colors.
  var dot = svg.append("g")
      .attr("class", "dots")
    .selectAll(".dot")
      .data(interpolateData(0))
    .enter().append("circle")
      .attr("class", "dot")
      .style("fill", function(d) { return colorScale(color(d)); })
      .call(position)
      .sort(order);

  // Add a title.
  dot.append("title")
      .text(function(d) { return d.UserName; });

  // Add an overlay for the year label.
  var box = label.node().getBBox();

  var overlay = svg.append("rect")
        .attr("class", "overlay")
        .attr("x", box.x)
        .attr("y", box.y)
        .attr("width", box.width)
        .attr("height", box.height)
        .on("mouseover", enableInteraction);

  // Start a transition that interpolates the data based on year.
  svg.transition()
      .duration(10000)
      .ease("linear")
      .tween("monthTime", tweenMonth)
      .each("end", enableInteraction);

  // Positions the dots based on data.
  function position(dot) {
    dot .attr("cx", function(d) { return xScale(x(d)); })
        .attr("cy", function(d) { return yScale(y(d)); })
        .attr("r", function(d) { return radiusScale(radius(d)); });
  }

  // Defines a sort order so that the smallest dots are drawn on top.
  function order(a, b) {
    return radius(b) - radius(a);
  }

  // After the transition finishes, you can mouseover to change the year.
  function enableInteraction() {
    var monthScale = d3.scale.linear()
        .domain([0, 6])
        .range([box.x + 10, box.x + box.width - 10])
        .clamp(true);

    // Cancel the current transition, if any.
    svg.transition().duration(0);

    overlay
        .on("mouseover", mouseover)
        .on("mouseout", mouseout)
        .on("mousemove", mousemove)
        .on("touchmove", mousemove);

    function mouseover() {
      label.classed("active", true);
    }

    function mouseout() {
      label.classed("active", false);
    }

    function mousemove() {
      displayMonth(monthScale.invert(d3.mouse(this)[0]));
    }
  }

  // Tweens the entire chart by first tweening the year, and then the data.
  // For the interpolated data, the dots and label are redrawn.
  function tweenMonth() {
    var month = d3.interpolateNumber(0, 6);
    return function(t) { displayMonth(month(t)); };
  }

  // Updates the display to show the specified year.
  function displayMonth(month) {
    dot.data(interpolateData(month), key).call(position).sort(order);
    label.text(Math.round(month));
  }

  // Interpolates the dataset for the given (fractional) year.
  function interpolateData(month) {
    return clinicals.map(function(d) {
      return {
        UserName: d.UserName,
        Weight: interpolateValues(d.Weight, d.M3Weight, d.M6Weight, month),
        HBA1C: interpolateValues(d.HBA1C, d.M3HBA1C, d.M6HBA1C, month),
        PosTotal: d.PosTotal,
        ItemTotal: d.ItemTotal,
      };
    });
  }

  // Finds (and possibly interpolates) the value for the specified year.
  function interpolateValues(Bvalue, M3value, M6value, month) {
    var diff6 = (M6value-M3value)*(month-3)/3;
    var diff3 = (M3value-Bvalue)*month/3;
    if (month == 6){
      return M6value;
    } else if (month >= 3){
      return +M3value+(+diff6);
    } else {
      return +Bvalue+(+diff3);
    }
  }

});

</script>