<ion-content id="login-page" class="padding ambrosia_grey">
    

<!--             <div class="button-bar button-large" id = "login-button-bar">
                <a id = "login-button" class="button button-large button-icon icon ion-social-facebook" ng-click="login('facebook')"></a>
                <a id = "login-button" class="button button-large button-icon icon ion-social-google" ng-click="login('google')"></a>
                <a id = "login-button" class="button button-large button-icon icon ion-social-twitter" ng-click="login('twitter')"></a>
            </div> -->

            <a id = "login-button" class="button button-full button-positive button-icon icon ion-social-facebook" ng-click="login('facebook')">
                <b>Facebook</b>
            </a>
            <a id = "login-button" class="button button-full button-assertive button-icon icon ion-social-google" ng-click="login('google')">
                <b>Google</b>
            </a>
            <a id = "login-button" class="button button-full button-calm button-icon icon ion-social-twitter" ng-click="login('twitter')">
                <b>Twitter</b>
            </a>
</ion-content>