<ion-view title="Login">
  <ion-content id="login-page" class="padding ambrosia_orange">
    <h1><b>Ambrosia</b></h1>
    <img src="img/Logo.png"></img>
    <a class="button button-full button-positive" ng-click="login('facebook')">
    	<b>Facebook</b>
    </a>
    <a class="button button-full button-assertive" ng-click="login('google')">
    	<b>Google</b>
    </a>
    <a class="button button-full button-calm" ng-click="login('twitter')">
    	<b>Twitter</b>
    </a>
  </ion-content>
</ion-view>