<ion-view title="Search">


    <ion-content class="padding ambrosia_orange">
 
 	<div class="list">

 		<div class="item item-divider">
    		Protein
  		</div>
    	<div class="item range range-positive">
    		<i class="icon ion-ios7-pulse-strong"></i>
    		<input type="range" name="protein" min="0" max="100" value="33">
    		<i class="icon ion-ios7-pulse-strong"></i>
    	</div>

 		<div class="item item-divider">
    		Carbohydrates
  		</div>
    	<div class="item range range-positive">
    		<i class="icon ion-pizza"></i>
    		<input type="range" name="carb" min="0" max="100" value="60">
    		<i class="icon ion-beer"></i>
    	</div>

 		<div class="item item-divider">
    		Fat
  		</div>
    	<div class="item range range-positive">
    		<i class="icon ion-beer"></i>
    		<input type="range" name="fat" min="0" max="100" value="20" >
    		<i class="icon ion-beer"></i>
    	</div>
	</div>
    <div class="nstSlider" data-range_min="-10" data-range_max="100" 
                       data-cur_min="20"    data-cur_max="80">

            <div class="bar"></div>
            <div class="leftGrip"></div>
            <div class="rightGrip"></div>
        </div>
        <div class="leftLabel" />
        <div class="rightLabel" />	
	    
	    
	    
    </ion-content>
      

</ion-view>