<ion-view title="SEARCH">


    <ion-content class="padding ambrosia_grey">
 
 	<div class="list">

 		<div class="item item-divider">
    		Protein
            <span class="item-note">
                placeHolder
            </span>
  		</div>
        <br />
    	<div name="protein" class="nstSlider" data-range_min="0" data-range_max="100" 
                       data-cur_min="20"    data-cur_max="80">

            <div class="bar"></div>
            <div class="leftGrip"></div>
            <div class="rightGrip"></div>
        </div>


    </div>
    
    <div class="list">

        <div class="item item-divider">
            Carbohydrates
            <span class="item-note">
                placeHolder
            </span>
        </div>
        <br />
        <div name="carb" class="nstSlider" data-range_min="0" data-range_max="100" 
                       data-cur_min="20"    data-cur_max="80">

            <div class="bar"></div>
            <div class="leftGrip"></div>
            <div class="rightGrip"></div>
        </div>


    </div>

    <div class="list">

        <div class="item item-divider">
            Fat
            <span class="item-note">
                placeHolder
            </span>
        </div>
        <br />
        <div name="fat" class="nstSlider" data-range_min="0" data-range_max="100" 
                       data-cur_min="20"    data-cur_max="80">

            <div class="bar"></div>
            <div class="leftGrip"></div>
            <div class="rightGrip"></div>
        </div>


    </div>

    <div name="totalCal" class="list">

        <div class="item item-divider">
            Total calories:
            <span class="item-note">
                placeHolder
            </span>
        </div>
        <br />

    </div>

    <button id="searchBtn" class="button button-outline button-stable">
        Search
    </button>


  

    	
	    
	    
	    
    </ion-content>
      

</ion-view>