<ion-view title="FAVORITES">
  	<ion-content class="padding ambrosia_grey">
	    
		<img id="img_result_finished" src="img/BROWSE_Result_Finished.png" >
  		
	    <div class="list">

		  <a class="item item-icon-left item-icon-right">
		    <i class="icon ion-chatbubble-working"></i>
		    Food 1
		    <i class="icon ion-heart"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right">
		    <i class="icon ion-chatbubble-working"></i>
		    Food 2
		    <i class="icon ion-heart"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right">
		    <i class="icon ion-chatbubble-working"></i>
		    Food 3
		    <i class="icon ion-heart"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right">
		    <i class="icon ion-chatbubble-working"></i>
		    Food 4
		    <i class="icon ion-heart"></i>
		  </a>

		</div>
		
 	</ion-content>
</ion-view>
